:root {
  --pink: #ff9ec8;
  --deep-pink: #f20079;
  --shadow: #cb91b2;
  --cheek: #e5649c;
}

.kirby {
  width: 500px;
  height: 432px;
  background-color: var(--pink);
  position: absolute;
  border-radius: 50%;
  border: 1rem solid black;

  &:before {
    content: "";
    width: 118%;
    height: 13.8%;
    background-color: var(--shadow);
    position: absolute;
    bottom: -10%;
    border-radius: 50%;
    z-index: -2;
    left: -7%;
  }
}

.arm {
  &-left {
    width: 31%;
    height: 32%;
    background-color: var(--pink);
    position: relative;
    top: 44%;
    border-radius: 50% 40%;
    border: 1rem solid black;
    left: -13.5%;

    &:before {
      content: "";
      width: 70%;
      height: 150%;
      border-radius: 50%;
      background-color: var(--pink);
      position: absolute;
      left: 47%;
      top: -25%;
    }
  }
}
